@if(gameData.phase == 2) {
    @if(!displayNewsFeedPage) {
        <div class="daily-view">
            <p>Day {{ day }}: January {{ day }}, 2020</p>
            <div>
                @for(coin of coins; track coin) {
                    <div class="coin-listing">
                        @if(coin.id != 4) {
                            <p>&nbsp;&nbsp;{{ coin.name }}:   ${{ coin.value | number: '1.0-2' }} || <span [ngClass]="{'positive': coin.deltaPercentage >= 0, 'negative': coin.deltaPercentage < 0}">{{ coin.deltaPercentage | percent: '1.0-2'}}</span>&nbsp;&nbsp;</p>
                        } @else {
                            <p>&nbsp;&nbsp;<span style='color:aqua'>{{ coin.name  }}</span>:   ${{ coin.value | number: '1.0-6' }} || <span [ngClass]="{'positive': coin.deltaPercentage >= 0, 'negative': coin.deltaPercentage < 0}">{{ coin.deltaPercentage | percent: '1.0-2'}}</span>&nbsp;&nbsp;</p>
                        }
                        
                    </div>
                    <div class="coin-ownership">
                        @for(holding of player.holdings; track holding) {
                            @if(holding.coin == coin.name) {
                                <p>Coins owned: {{holding.amount | number: '1.0-2'}}   || Coin Value: ${{holding.value | number: '1.0-2'}} </p>
                            }
                        } 
                    </div>
                    <div id="clear"></div>
                    <br />
                }
            </div>
            @if(!buying && !selling) {
                <div>
                    @for(news of newsItems; track news) {
                        <div class="news-ticker">
                            <p>{{ news.text }}</p>
                        </div>
                        <br />
                    }
                </div>
                <div class="game-prompt">
                    <p>What would you like to do today? (HODL will advance to the next day)</p>
                </div>
                <div class="input-buttons">
                    <button (click)="buy()">Buy</button>
                    <button (click)="sell()">Sell</button>
                    <button (click)="hodl()">HODL</button>
                </div>
            }
            @if(buying) {
                <div class="game-prompt">
                    <p>{{dynamicText}}</p>
                </div>
                @if(dynamicTracker == 1) {
                    <div class="coin-amount-display">
                        <h2>{{ incrementAmount | number: '1.0-2' }}</h2>
                    </div>
                }
                <div class="input-buttons">
                    @if (dynamicTracker == 0) {
                        @for(coin of coins; track coin) {
                            <button (click)="buyCoin(coin)"><span [ngStyle]="{'color': coin.name === '$GME' ? 'aqua' : 'inherit'}">{{coin.name}}</span></button>
                        }
                    } @else {
                            <button (click)="maxValue()">Max</button>
                            <button (click)="incrementValue()">+</button>
                            <button (click)="buyCoinAmount(incrementAmount)">Buy</button>
                            <button (click)="decrementValue()">-</button>
                            <button (click)="resetValue()">Reset</button>
                    }
                </div>
            }
            @if(selling) {
                <div class="game-prompt">
                    <p>{{dynamicText}}</p>
                </div>
                @if(dynamicTracker == 1) {
                    <div class="coin-amount-display">
                        <h2>{{ incrementAmount | number: '1.0-2' }}</h2>
                    </div>
                }
                <div class="input-buttons">
                    @if (dynamicTracker == 0) {
                        @for(coin of coins; track coin) {
                            <button (click)="sellCoin(coin)"><span [ngStyle]="{'color': coin.name === '$GME' ? 'aqua' : 'inherit'}">{{coin.name}}</span></button>
                        }
                    } @else {
                            <button (click)="maxSaleValue()">Max</button>
                            <button (click)="incrementSaleValue()">+</button>
                            <button (click)="sellCoinAmount(incrementAmount)">Sell</button>
                            <button (click)="decrementValue()">-</button>
                            <button (click)="resetValue()">Reset</button>
                    }
                </div>
            }
        </div>
    } @else if(displayNewsFeedPage) {
        <div class="news-feed">
            <p>News Feed</p>
            <div>
                @for(news of newsItems; track news) {
                    <div class="news-ticker">
                        <p>{{ news.text }}</p>
                    </div>
                    <br />
                }
            </div>
            <div class="input-buttons">
                <button (click)="continueToNextDay()">Continue to day {{ day }}</button>
            </div>
        </div>
    }
}



@if(gameData.phase == 3) {<div>
    <p>Game Over! Here's your final score:</p>
    <div>
        @for(holding of player.holdings; track holding) {
            <div class="coin-listing">
                <p>{{ holding.coin }}: {{ holding.amount | number: '1.0-2' }} || ${{ holding.value | number: '1.0-2' }}</p>
            </div>
            <div id="clear"></div>
            <br />
        }
    </div>
    <p>Total Value: {{ totalScore | number: '1.0-2' }}</p>
    <div class="input-buttons">
        <button (click)="playAgain()"><span class="blink">Play Again</span></button>
    </div>
</div>
}
