// .coin-listing {
//     border: 2px dashed powderblue;
//     width: fit-content;
//     float: inline-start;
// }
.coin-listing {
    border: 2px dashed powderblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    float: inline-start;
}

.coin-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 0 1em;
}

.coin-name {
    flex: 1;
    padding-inline-end: 1em;
}

.coin-values {
    text-align: end;
    p {
        margin: 0;
    }
}

.coin-ownership {
    float: inline-end;
    padding-inline-end: 1.5em;

    .coin-info {
        flex-direction: column;
        p {
            margin: 0;
        }
    }
}

#clear {
    clear:both
}

.news-ticker {
    border-top: 2px dashed powderblue;
    width: 100%;
    color: orange;
}

.positive {
    color: #0F0;
}

.negative {
    color: red;
}

.input-buttons {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        gap: 10px;
        flex-direction: column;
    }
    button {
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 24px;
        border: none;
        background-color: #000;
        color: powderblue;
        font-family: 'Orbitron', sans-serif;
        border: 4px solid powderblue;
        .blink {
            animation: blink 2s linear infinite;
        }
    }
    
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
}