@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.content {
    background-image: url("https://i.ibb.co/6FFmFqT/synthwave-lounge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    .monitor {
        background-color: #555;
        border-radius: 2% / 10%;
        box-shadow: #333 0.4em 0.4em 1em;
        height: 80vh;
        margin: 10vh auto 0 auto;
        overflow: hidden;
        padding: 16px;
        position: fixed;
        bottom: 0;
        left: 20vw;
        width: 60vw;

        .screen {
            background-color: #000;
            border-radius: 2% / 10%;
            color: #0f0;
            font-family: 'Silkscreen', sans-serif;
            height: 96%;
            overflow: auto;
            padding: 16px;
        }
    }
    
}