<div class="game-container">
    @if(gameData.phase > 1) {
        <div class="score">Total Value: {{ totalScore | number: '1.0-2' }}</div>
        <div class="score">Total cash:  {{ player.cash | number: '1.0-2' }}</div>
        <br />
    }
    
    <!-- Phase 1: Introduction -->
    @if(gameData.phase == 1) {
        <div class="intro-view">
            <p>Welcome to the game! You have 22 days to amass as much value as possible with the $100 you have in your pocket.</p>
            <p>Keep in mind that <span style='color: aqua'>$GME</span> is about to go off at some point!</p>
            <p><i>Mind your FOMO!</i></p>
            <p>Here are your initial investment options:</p>
            <div>
                @for(coin of coins; track coin) {
                    <div class="coin-listing">
                        <p>&nbsp;&nbsp;Θ&nbsp;<span [ngStyle]="{'color': coin.name === '$GME' ? 'aqua' : 'inherit'}">{{ coin.name }}</span>:   ${{ coin.value }}&nbsp;&nbsp;</p>
                    </div>
                    <div id="clear"></div>
                    <br />
                }
            </div>
            <div class="game-prompt">
                <p>Would you like to start the game?</p>
            </div>
            <div class="input-buttons">
                <button (click)="startGame()"><span class="blink">START</span></button>
            </div>
        </div>
    }

    <!-- Phase 2: Daily Phase -->
    @if(gameData.phase == 2) {
        <!-- day router -->
        <div routerLink="day"></div>

        <router-outlet />
    }

    <!-- Phase 3: End Game -->
    @if(gameData.phase == 3) {
        <div routerLink="day"></div>
        <router-outlet />
    }
</div>