.game-container {
    display: block;
    justify-content: start;
    align-items: start;
    height: 65vh;

    .score {
        font-size: 21px;
        text-align: end;
    }

    #clear {
        clear:both
    }

    .coin-amount-display {
        font-size: 24px;
        text-align: center;
    }

    .input-buttons {
        display: flex;
        justify-content: space-between;
        button {
            text-align: center;
            display: inline-block;
            padding: 10px 20px;
            font-size: 24px;
            border: none;
            background-color: #000;
            color: powderblue;
            font-family: 'Orbitron', sans-serif;
            border: 4px solid powderblue;
            .blink {
                animation: blink 2s linear infinite;
            }
        }
        
        @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0.5; }
            100% { opacity: 1; }
        }
    }
}